header {
    background-color: #31394d;
    color: #FFF;
}

.count-btn {
    border: 1px;
    vertical-align: bottom;
    border-radius: 3px;
    padding: 3px 0;
}

.count-btn > span {
    padding: 8px;
}

span:first-child {
    border: 0;
    border-right: 1px;
    border-style: solid;
    border-color: #3d3d3d;
}

.header-text {
    line-height: 68px;
    font-size: 24px;
    padding-left: 20px;
}
